* {
    font-family: "Noto Sans JP", sans-serif;
    color: #2c2b2b;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #ffffff;
}
.container {
    display: flex;
    border-radius: 1vh;
    box-sizing: border-box;
    outline: none;
    background: linear-gradient(25deg, #b3fffe, rgb(155, 174, 252));
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.5),
        inset 4px 4px 10px rgba(51, 51, 51, 0.5),
        inset -4px -4px 10px rgba(255, 255, 255, 1);
}

#watch {
    padding: 0 5%;
    margin-bottom: -5%;
    display: flex;
    font-weight: 800;
    color: #343434;
}

#watch > div {
    position: relative;
    margin-top: -2%;
    width: 70px;
    text-align: center;
    font-size: 2.7em;
    font-weight: 700;
    letter-spacing: 0.03em;
}

#watch div:nth-child(1)::after {
    content: ":";
    font-weight: 400;
    position: absolute;
    top: -2%;
    right: -10%;
    color: #343434;
    animation: blinking 1s steps(1) infinite;
}
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#days {
    position: relative;
    text-align: center;
    font-size: 0.9em;
    font-weight: 600;
}

#live {
    position: relative;
    padding-left: 0.2em;
    margin-top: -2%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 800;
    letter-spacing: 0.4em;
}

#sub-info {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 20px;
    margin: auto;
}

#sub-info div {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    animation: fade 10s ease infinite;
}

#sub-info div:nth-of-type(1) {
    animation-delay: 0s;
}
#sub-info div:nth-of-type(2) {
    animation-delay: 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    6% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    44% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    50% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 0;
        transform: rotateX(90deg);
    }
}

.weather {
    display: flex;
    position: absolute;
    width: inherit;
    height: inherit;
    margin: auto;
    top: -100%;

    /* animation: fade 12s ease infinite; */
    /* ↑ 以下のコードは都市の数で動的に変化するのでjsで管理 */
}

#weather-list {
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 80px;
    margin: auto;
}

.text-data {
    width: 100%;
    font-weight: 600;
}

.local-label {
    text-align: right;
    font-size: 1.5em;
    margin-top: 10%;
    letter-spacing: 0.1em;
}

.weather-values {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #343434;
}

.weather-values div {
    font-size: 1.1em;
    margin-left: 3%;
    font-weight: 500;
}

.weather-values div:nth-child(1)::after {
    content: "/";
    color: #343434;
}

.min-temp {
    color: rgb(49, 40, 223);
}

.max-temp {
    color: rgb(210, 13, 72);
}

.weather-icon {
    display: block;
    min-height: 80px;
    min-width: 80px;
    transform: scale(90%);
    transform-origin: 50% 50%;
}

/* 以下のコードは都市の数で動的に変化するのでjsで管理 */
/* .weather:nth-of-type(1) {
    animation-delay: 0s;
}
.weather:nth-of-type(2) {
    animation-delay: 4s;
}
.weather:nth-of-type(3) {
    animation-delay: 8s;
} */

/* @keyframes fade {
    0% {
        top: -100%;
    }
    4% {
        top: 0;
    }
    29% {
        top: 0;
    }
    33% {
        top: 100%;
    }
    100% {
        top: 100%;
    }
} */
