* {
    font-family: "Noto Sans JP", sans-serif;
    color: #2c2b2b;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #ffffff;
}
.container {
    display: flex;
    border-radius: 1vh;
    box-sizing: border-box;
    outline: none;
    background: linear-gradient(25deg, #ffbdf4, rgb(173, 155, 252));
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.5),
        inset 4px 4px 10px rgba(51, 51, 51, 0.5),
        inset -4px -4px 10px rgba(255, 255, 255, 1);
}

#watch {
    padding-left: 5%;
    margin-right: -7%;
    display: flex;
    font-size: 2em;
    font-weight: 900;
    color: #343434;
}

#watch > div {
    position: relative;
    margin: auto;
    width: 60px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
}

#watch div:nth-child(1)::after {
    content: ":";
    position: absolute;
    right: -9%;
    color: #343434;
    animation: blinking 1s steps(1) infinite;
}
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.weather {
    display: flex;
    position: absolute;
    width: inherit;
    height: inherit;
    margin: auto;
    top: -100%;
    /* animation: slideAnime 12s ease infinite; */
    /* ↑ 以下のコードは都市の数で動的に変化するのでjsで管理 */
}

#weather-list {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 70px;
    margin: auto;
}

.text-data {
    width: 100%;
    font-weight: 600;
}

.local-label {
    text-align: right;
    font-size: 1.5em;
    margin-top: 4%;
    letter-spacing: 0.1em;
}

.weather-values {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #343434;
}

.weather-values div {
    font-size: 1.1em;
    margin-left: 6%;
    font-weight: 500;
}

.weather-values div:nth-child(1)::after {
    content: "/";
    position: absolute;
    color: #343434;
}

.min-temp {
    color: rgb(49, 40, 223);
}

.max-temp {
    color: rgb(210, 13, 72);
}

.weather-icon {
    display: block;
    min-height: 70px;
    min-width: 70px;
    transform: scale(90%);
    transform-origin: 50% 50%;
}

/* 以下のコードは都市の数で動的に変化するのでjsで管理 */
/* .weather:nth-of-type(1) {
    animation-delay: 0s;
}
.weather:nth-of-type(2) {
    animation-delay: 4s;
}
.weather:nth-of-type(3) {
    animation-delay: 8s;
} */

/* @keyframes slideAnime {
    0% {
        top: -100%;
    }
    4% {
        top: 0;
    }
    29% {
        top: 0;
    }
    33% {
        top: 100%;
    }
    100% {
        top: 100%;
    }
} */
